<div class="container posts-board">
    <% @groups.each do |group| %>
    <div class="row">
      <div class="col-lg-2">
        <%= image_tag group.picture.url, size: "50x50" if group.picture? %>
      </div>
      <div class="col-lg-10">
          <h3><%= group.name %></h3>
          <h4><%= group.created_at %></h4>
          <%= link_to "Go to group", group_path(group) %>
      </div>
    </div>
    <br><br>
    <% end %>
</div>
