<div class="container posts-new">
  <div class="row">
    <h1>MY PROFILE</h1>
    <div class="col-lg-6">
    </div>
    <div class="col-lg-6">
      <h1>Hello!, <%= @user.name %></h1>
      <h3>You have: <%= @user.mytransactions.count %> transactions</h3>
    </div>
  </div>
</div>
