<div class="container posts-board">

    <h3> Total Amount: <%= total_amount %></h3>
    <% @transactions.each do |transaction| %>
    <div class="row">
      <div class="col-lg-2">
      </div>
      <div class="col-lg-10">
          <h1><%= transaction.name %></h1>
          <p><%= transaction.amount %></p>
      </div>
    </div>
    <br><br>
    <% end %>
</div>
